{%- liquid
  assign button_text = button_text | default: 'All Products'
  assign button_url = button_url | default: routes.all_products_collection_url
  assign button_class = button_class | default: 'btn btn-outline'
-%}

{% if button_text != blank %}
  <div class="text-center mt-7 md:mt-12">
    <a href="{{ button_url }}" class="{{ button_class }}" data-text="{{ button_text }}">
      <span>{{ button_text }}</span>
    </a>
  </div>
{% endif %}
