<div class="py-4 sm:py-6 border-b border-white/15">
  <div class="inc-dec flex items-center gap-2">
    <button type="button" class="dec w-8 h-8 bg-[#E8E9EA] dark:bg-dark-secondary flex items-center justify-center" data-quantity-dec aria-label="Decrease quantity">
      <svg class="fill-current text-white!" width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M10.4361 0.203613H12.0736L7.81774 0.203615H13.8729V1.80309H7.81774L3.50809 1.80309H1.87053L6.18017 1.80309H0.125V0.203615H6.18017L10.4361 0.203613Z"/>
      </svg>
    </button>
    <input
      class="w-6 h-auto outline-none bg-transparent text-base md:text-lg leading-none text-white text-center [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
      type="number"
      name="quantity"
      value="1"
      min="1"
      data-quantity-input
      aria-label="Quantity"
    >
    <button type="button" class="inc w-8 h-8 bg-[#E8E9EA] dark:bg-dark-secondary flex items-center justify-center" data-quantity-inc aria-label="Increase quantity">
      <svg class="fill-current text-white!" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M6.18017 0.110352H7.81774V6.16553H13.8729V7.76501H7.81774V13.8963H6.18017V7.76501H0.125V6.16553H6.18017V0.110352Z"/>
      </svg>
    </button>
  </div>
  <div class="flex gap-4 mt-4 sm:mt-6 flex-wrap">
    <button type="submit" class="btn btn-solid" data-text="Add to Cart" {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
      <span>{% if product.selected_or_first_available_variant.available %}Add to Cart{% else %}Sold out{% endif %}</span>
    </button>
    <a href="{{ product.url }}" class="btn btn-outline" data-text="Add to Wishlist">
      <span>Add to Wishlist</span>
    </a>
  </div>
</div>
